ion-item {
	.sc-ion-label-md-h {
		color: black !important;
		background-color: white !important;
	}
	.sc-ion-input-md-h {
		color: rgb(114, 113, 113) !important;
	}
}

ion-item {
	--highlight-color-valid: transparent;
	--highlight-color-invalid: transparent;
}

hr {
	background: rgb(219, 218, 218) !important;
	width: 100% !important;
	visibility: visible !important;
}

ion-avatar {
	width: auto;
	height: 50%;
	display: flex;
	justify-content: center;
	img {
		width: 8rem;
		height: 8rem;
		margin: auto;
	}
}
