<ion-header>
	<app-toolbar titulo="Publicaciones"></app-toolbar>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button autoHide="true" menu="main-menu"></ion-menu-button>
		</ion-buttons>
		<ion-searchbar
			#busqueda
			show-cancel-button="focus"
			cancel-button-text="Custom Cancel"
			searchIcon="search-sharp"
			placeholder="Buscar"
			animated
			(ionChange)="filter($event)"
		></ion-searchbar>
	</ion-toolbar>
</ion-header>

<section>
	<ion-toolbar>
		<ion-item lines="none" (click)="modalPublicaciones()">
			<ion-avatar>
				<img [src]="usuario.foto" />
			</ion-avatar>
			<ion-label class="ion-padding-start"
				><ion-text> ¿Qué está pensando? </ion-text>
			</ion-label>
		</ion-item>
	</ion-toolbar>
</section>

<ion-content fullscreen>
	<ion-card *ngFor="let publicacion of publicaciones | filtro: textSearch" class="card-border">
		<ion-card-header>
			<div class="div-flex">
				<ion-avatar>
					<img [src]="publicacion.fotousuario" />
				</ion-avatar>
				<ion-label class="ion-padding-start">
					<h2>@{{publicacion.username}}</h2>
					<h3>{{publicacion.nombre}} {{publicacion.apellido}}</h3>
					<p>{{publicacion.fecha | date}}</p>
				</ion-label>
			</div>
			<ion-card-title><h1>{{publicacion.titulo}}</h1></ion-card-title>
			<ion-img [src]="publicacion.fotopublicacion"></ion-img>
		</ion-card-header>
		<ion-card-content>
			<ion-text><p class="text-justify">{{publicacion.mensaje}}</p></ion-text>
		</ion-card-content>
	</ion-card>
</ion-content>
