<ion-header>
	<app-toolbar-router titulo="Actualizar datos" route="/app/home/mi-cuenta"></app-toolbar-router>
</ion-header>

<ion-content class="ion-padding" fullscreen>
	<ion-segment (ionChange)="segmentChange($event)" [value]="valueSelected" color="tertiary">
		<ion-segment-button value="datos">
			<ion-label>Datos Personales</ion-label>
		</ion-segment-button>
		<ion-segment-button value="contraseña">
			<ion-label>Contraseña</ion-label>
		</ion-segment-button>
	</ion-segment>

	<section *ngIf="valueSelected === 'datos'">
		<ion-card>
			<ion-card-content>
				<form #dataForm="ngForm" (ngSubmit)="updateDatos(dataForm)">
					<ion-grid fixed>
						<ion-row>
							<ion-col size="12" size-sm="6">
								<ion-item>
									<ion-label position="floating" class="ion-text-wrap">
										<ion-icon name="id-card-sharp"></ion-icon>
										&nbsp;Nombre</ion-label
									>
									<ion-input
										class="input"
										type="text"
										[(ngModel)]="usuario.nombre"
										name="nombre"
										#nombre="ngModel"
										[ngClass]="{
                      'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched),
                      'is-valid': nombre.valid
                    }"
										minlength="5"
										required
									></ion-input>
								</ion-item>
							</ion-col>
							<ion-col size="12" size-sm="6">
								<ion-item>
									<ion-label position="floating">
										<ion-icon name="id-card-sharp"></ion-icon>
										&nbsp;Apellido</ion-label
									>
									<ion-input
										class="input"
										type="text"
										[(ngModel)]="usuario.apellido"
										name="apellido"
										#apellido="ngModel"
										minlength="8"
										[ngClass]="{
                      'is-invalid': apellido.invalid && (apellido.dirty || apellido.touched),
                      'is-valid': apellido.valid
                    }"
										minlength="5"
										required
									></ion-input>
								</ion-item>
							</ion-col>
							<ion-col size="12">
								<ion-item>
									<ion-label position="floating">
										<ion-icon name="at"></ion-icon>
										&nbsp;Usuario</ion-label
									>
									<ion-input
										class="input"
										type="text"
										[(ngModel)]="usuario.username"
										name="username"
										#username="ngModel"
										[ngClass]="{
                      'is-invalid': username.invalid && (username.dirty || username.touched),
                      'is-valid': username.valid
                    }"
										minlength="5"
										required
									></ion-input>
								</ion-item>
							</ion-col>
							<ion-col size="12">
								<ion-item>
									<ion-label position="floating">
										<ion-icon name="image"></ion-icon>
										&nbsp;Foto</ion-label
									>
									<ion-textarea
										class="input"
										type="text"
										[(ngModel)]="usuario.foto"
										name="foto"
										#foto="ngModel"
										[ngClass]="{
                      'is-invalid': foto.invalid && (foto.dirty || foto.touched),
                      'is-valid': foto.valid
                    }"
										rows="2"
										required
									></ion-textarea>
								</ion-item>
							</ion-col>
							<ion-col>
								<ion-button
									type="submit"
									expand="block"
									color="foro"
									[disabled]="dataForm.invalid"
								>
									Actualizar Datos
								</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</form>
			</ion-card-content>
		</ion-card>
	</section>

	<section *ngIf="valueSelected === 'contraseña'">
		<ion-card>
			<ion-card-content>
				<form #passwordForm="ngForm" (ngSubmit)="updatePassword(passwordForm)">
					<ion-grid fixed>
						<ion-row>
							<ion-col size="12">
								<ion-item>
									<ion-label position="floating" class="ion-text-wrap">
										<ion-icon name="lock-closed"></ion-icon>
										&nbsp;Contraseña actual</ion-label
									>
									<ion-input
										class="input"
										type="password"
										[(ngModel)]="password.contrasenaActual"
										name="contrasenaActual"
										#contrasenaActual="ngModel"
										[ngClass]="{
                      'is-invalid': contrasenaActual.invalid && (contrasenaActual.dirty || contrasenaActual.touched),
                      'is-valid': contrasenaActual.valid
                    }"
										minlength="8"
										required
									></ion-input>
								</ion-item>
							</ion-col>
							<ion-col size="12">
								<ion-item>
									<ion-label position="floating" class="ion-text-wrap">
										<ion-icon name="lock-closed"></ion-icon>
										&nbsp;Contraseña nueva</ion-label
									>
									<ion-input
										class="input"
										type="password"
										[(ngModel)]="password.contrasenaNueva"
										name="contrasenaNueva"
										#contrasenaNueva="ngModel"
										[ngClass]="{
                      'is-invalid': contrasenaNueva.invalid && (contrasenaNueva.dirty || contrasenaNueva.touched),
                      'is-valid': contrasenaNueva.valid
                    }"
										minlength="8"
										required
									></ion-input>
								</ion-item>
							</ion-col>
							<ion-col>
								<ion-button
									type="submit"
									expand="block"
									color="foro"
									[disabled]="passwordForm.invalid"
								>
									Actualizar Contraseña
								</ion-button>
							</ion-col>
						</ion-row>
					</ion-grid>
				</form>
			</ion-card-content>
		</ion-card>
	</section>
</ion-content>
